* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: #f8f8fc; */

}


.flex-grid {
    display: flex;
}

.col {
    flex: 1;
}

/* .messageUl {
    background-color: white;
    box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.1);
} */


.justTextFields {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin: 1rem 0;
}